<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Mini PBL - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

</head>
{% extends 'nav.html'%}{%block content%}
<body>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1016-c-08_1-ksh6mza3.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f584d8501c27c5f649bc2cfce50705c0');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>About</h2>
              <p>Learn More About MiniPBL & Our Project</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li>About</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="https://cdn.discordapp.com/attachments/730296290965192704/1092867061170061312/Thumbnail_Trailer.jpg" class="img-fluid" alt="">
            <a href="https://youtu.be/GSMNajkRd1M" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>About Us</h3>
            <p>
              Mini PBL is a derivative of PBL (Project Based Learning). PBL is the use of various kinds of intelligence needed to confront 
              real world challenges, the ability to deal with all that is new and existing complexities. In this Mini PBL we are tasked to build a 
              python web based port scanner application. Our project building time is 1 semester and in this team we have 6 members. To build the app
              we used python flask framework and bootstrap. 
            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Fast & Accurate Scanning</h5>
                  <p>The python port scanner can do scanning fast and accurate.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Responsive UI/UX </h5>
                  <p>This Website has responsive ui design, and has many compatibility to other devices resolution</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Open Source</h5>
                  <p>This python port scanner is free to use and access to all users.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
              <p>UI/UX Design(%)</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
              <p>Application Algorithm(%)</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
              <p>Semester</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
              <p>Members</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Our Team</span>
          <h2>Our Team</h2>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex"></div>
          <div class="col-lg-4 col-md-6 d-flex">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <div class="member">
                  <img src="#" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Afdhol Dzikri</h4>
                    <span>Project Manager</span>
                    <p>
                      Project Manager of the Team 12. Managing, monitoring, and evaluate our project in MiniPBL.
                    </p> 
                    <div class="social">
                      <a href="https://github.com/"><i class="bi bi-github"></i></a>
                      <a href="https://www.instagram.com/dzikri313/"><i class="bi bi-instagram"></i></a>
                      <a href="https://www.linkedin.com/in/"><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex"></div>
          </div>
          

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="#" class="img-fluid" alt="">
              <div class="member-content">
                <h4>M. Raihan Ferdyansyah</h4>
                <span>Fullstack Engineering</span>
                <p>
                  Leader of the Team 12. Mainly working in Backend Programming, Like python application algorithm, etc.
                </p>
                <div class="social">
                  <a href="https://github.com/AtsuFerdy"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/atsu.ferdy_/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/m-raihan-ferdyansyah-b9643121b/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="#" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Yufi Rahmadhani</h4>
                <span>Backend Engineering</span>
                <p>
                  Member of the Team 12. Mainly working in Backend Programming, Like python application algorithm, etc.
                </p>
                <div class="social">
                  <a href="https://github.com/Yufirahmadhani"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/yufirhmdhni/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/yufi-rahmadhani-170716220/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="#" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Cyriil Lihardo Purba</h4>
                <span>Frontend Engineering</span>
                <p>
                  CO-Leader of the Team 12. Mainly working in Frontend Programming, Like bootstrap, html & css, js, etc.
                </p>
                <div class="social">
                  <a href="https://github.com/cyriillihardo15"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/cyrilllyhardo/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/cyriil-lihardo-7080a4266"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="#" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Arian Vemana Putra Kaban</h4>
                <span>Documentation & Researching</span>
                <p>
                  Member of the Team 12. Mainly working in Documentation and Researching, Like documentating progress, researching ideas, etc.
                </p>
                <div class="social">
                  <a href="https://github.com/Arian098"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/yann.putraa__/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/arian-vemana-putra-kaban-63bb9324a/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="#" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Zyqra Noer Khalif</h4>
                <span>UI/UX & Graphic Designer</span>
                <p>
                  Member of the Team 12. Mainly working in Application UI/UX design and graphic designing, Like poster designing, project UI design, etc.
                </p>
                <div class="social">
                  <a href="https://github.com/zyqra990"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/zyq_zac_"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/zyqra-noer-khalif-249125193/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="#" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Farhan Ainunhanif</h4>
                <span>Documentation & Researching</span>
                <p>
                  Member of the Team 12. Mainly working in Documentation and Researching, Like documentating progress, researching ideas, etc.
                </p>
                <div class="social">
                  <a href="https://github.com/Xpert9029"><i class="bi bi-github"></i></a>
                  <a href="https://www.instagram.com/farhannif_9029/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/farhan-ainunhanif-1a13b926a/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->

    
  

  </main><!-- End #main -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>
  {% include "foot.html" %}
  {% endblock %}
</body>
<style>

</style>
</html>
