{% block footer %}
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
            <span>Python Port Scanner</span>
            </a>
            <p>Port Scanner is a computer program used to check computer networks and look for open ports on a system. This web application is made with python flask framework, html, css and javascript.</p>
            <div class="social-links d-flex mt-4">
            <a href="https://if.polibatam.ac.id/rekayasa-keamanan-siber/" class="twitter"><i class="bi bi-shield"></i></a>
            <a href="https://www.facebook.com/polibatamofficial" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/polibatamofficial/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/@PolibatamTV" class="linkedin"><i class="bi bi-youtube"></i></a>
            <a href="https://polibatam.ac.id"" class="linkedin"><i class="bi bi-globe"></i></a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-lg-1 col-6 footer-links">
            <h4>Links</h4>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/project">Project</a></li>
            </ul>
        </div>
    
        <div class="col-lg-2 col-6 footer-links">
            <h4>Other Links</h4>
            <ul>
            <li><a href="https://polibatam.ac.id">Politeknik Negeri Batan</a></li>
            <li><a href="https://if.polibatam.ac.id/rekayasa-keamanan-siber/">D4 Rekayasa Keamanan Siber</a></li>
            <li><a href="https://if.polibatam.ac.id/pamerin/index.php?page=category&type=CyberSecurity">Pamerin Polibatam</a></li>
            </ul>
        </div>
    
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
                Batam Centre, Jl. Ahmad Yani, Tlk. Tering, Kec. Batam Kota, Kota Batam, Kepulauan Riau 29461<br>
            <br>
            <strong>Phone:</strong> +62-778-469856<br>
            <strong>Email:</strong> info@polibatam.ac.id<br>
            </p>
    
        </div>
    
        </div>
    </div>
    
    <div class="container mt-4">
        <div class="copyright">
        &copy; Copyright <strong><span>RKS</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        Designed by <a href="https://if.polibatam.ac.id/">Team 12</a>
        </div>
    </div>
    
</footer>
{% endblock %}